.form {
  display: flex;
  flex-direction: column;
  background-color: var(--primary-purple-950);
  padding: 1.5rem;
  border-radius: .7rem;
  background-image: url('../../assets/images/bg-shorten-mobile.svg');
  background-repeat: no-repeat;
  background-position: top right;

  input[type="url"] {
    padding: .7rem 1rem;
    border: none;
    border-radius: .5rem;
    width: 100%;

    &::placeholder {
      color: var(--neutral-gray-500);
    }
  }

  button {
    margin-top: 1rem;
    padding: .7rem 0;
    background-color: var(--primary-blue-400);
    border: none;
    color: #fff;
    font-weight: 700;
    border-radius: .5rem;
    cursor: pointer;
    transition: opacity 0.3s ease;

    &:hover {
      opacity: 0.5;
    }
  }

  @media (width >=768px) {
    flex-direction: row;
    background-image: url('../../assets/images/bg-shorten-desktop.svg');
    background-position: center right;
    padding: 2rem;

    > div {
      flex: 1;
      margin-right: 1rem;
    }
    button {
      margin-top: 0;
      width: auto;
      padding: 0 2rem;
      align-self: flex-start;
    }
  }

  @media (width >=1440px) {
    padding: 3rem;

    > div {
      margin-right: 1.5rem;
    }
    input[type="url"] {
      padding: 1rem 1.5rem;
    }

    button {
      padding: 1rem 2.5rem;
    }
  }
}

.isError {
  color: var(--secondary-red-400);
  font-size: .7rem;
  margin-top: .5rem;
  font-style: italic;
}

input[type="url"].inputError {
  border: 2px solid var(--secondary-red-400);

  &::placeholder {
    color: var(--secondary-red-400);
    opacity: 1;
  }
}

.shortenedContainer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 1.5rem;
  max-height: 50rem;
  overflow-y: auto;
}