.header {
  margin-top: 2rem;
  overflow: hidden;
  padding-bottom: 9rem;
  @media (width >= 1440px) {
    margin-top: 3rem;
  }

  @media (width >= 768px) {
    padding-bottom: 8rem;
  }
  @media (width >= 1024px) {
    padding-bottom: 9rem;
  }
  @media (width >= 1440px) {
    padding-bottom: 12rem;
  }
}