.hero {
  margin-top: 1rem;
  @media (width >= 768px) {
    margin-top: 2rem;
  }
  @media (width >= 1024px) {
    margin-top: 3rem;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    max-width: min(90%, 1110px);
    margin-inline: auto;
  }
  @media (width >= 1440px) {
    gap: 3rem;
    margin-top: 6rem;
  }
}
.heroImage {
  max-width: 36rem;
  display: block;
  margin: 0 auto;
  padding-left: 1rem;
  object-fit: contain;
  height: auto;

  @media (width >= 1024px) {
    padding-left: 0;
  }
  @media (width >= 1440px) {
    transform: scale(1.3) translateX(120px);
  }
}

.heroInfo {
  margin-top: 1.5rem;
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 1rem;
  max-width: 40rem;
  
  @media (width >= 1024px) {
    text-align: left;
    align-items: flex-start;
    margin-top: 0;
  }
  @media (width >= 1440px) {
    gap: 0;
  }
}

.heroTitle {
  line-height: 1.2;
  font-size: 2.5rem;
  color: var(--neutral-gray-900);

  @media (width >= 1024px) {
    font-size: 2.7rem;
  }
  @media (width >= 1440px) {
    font-size: 4rem;
  }
}

.heroText {
  color: var(--neutral-gray-500);
}

.heroButton {
  margin-top: 1rem;
  align-self: center;
  border: none;
  background-color: var(--primary-blue-400);
  padding: 1rem 3rem;
  border-radius: 2rem;
  color: #Fff;
  font-weight: 700;
  cursor: pointer;
  transition: opacity 0.3s ease;

  &:hover {
    opacity: 0.5;
  }

  @media (width >= 1024px) {
    align-self: flex-start;
  }

  @media (width >= 1440px) {
    margin-top: 2rem;
  }
}