.socials {
  display: flex;
  gap: 1.5rem;

  a {
    transition: filter 0.3s ease;
    &:hover {
      filter: invert(55%) sepia(93%) saturate(1800%) hue-rotate(130deg) brightness(110%) contrast(105%);
    }
  }
}